@import 'variable';
@import 'mixins';

*{
   // background-color: #fff;
   font-family: Graphik;
   font-style: normal;
   font-weight: normal;    
   margin: 0;
   padding: 0;
}

header{
   width: 1777px;
   height: 1042px;
   background-image: url(../img/top.png);
   background-repeat: no-repeat;
}

.desktop-navbar{
   width: 1210px;
   height: 156px; 
   display: flex;
   justify-content: space-between;
   background:none;
   margin-left: 282px;

   .desktop-menu{
      width: 437px;
      height: 48px;
      background:transparent;
      margin: 63px 0 63px 50px;
     

      .nav-list{
         display: flex;
         background-color: inherit;

         li{
            list-style: none;
            background-color: inherit;
            width: 63px;
            height: 48px;
            padding: 10px;
           
            a{
               color: #ffffff;
               font-weight: 400;
               font-size: 15px;
               line-height: 28px;
               background-color: inherit;
               padding: 10px;
               text-decoration: none;
               
            }
         }
      }
   }
   .center{
      background:transparent ;
      width: 246px;
      height: 78px;
      position: relative;
      top:43px;
      right: 125px;

      .content-logo{
         width: 206px;
         height: 78px;
         background:transparent ;
         color: #fff;
         background : url(../img/dark.png);
         
      }
   }
   
   .right{
      background: transparent;
      width: 171px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      

      .action{
         background: inherit;

         img{
            background: inherit;
            padding: 10px;
         }
      }
   }
}


.content-lightbar{
   width: 1437px;
   height: 885px;
   background: transparent;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   bottom: 130px;
   

   .container1{
      background: transparent;
      width: 826px;
      height: 335px;
      position:absolute;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: 80px;
    
      
      h1{
         
         font-family:Graphik;
         color: #fff;
         font-weight: 700;
         font-size: 74px;
         line-height: 84px;
         background: transparent;
         text-align: center;
         padding-bottom: 28px;
      }
      h4{
         width: 766px;
         height: 80px;
         background: transparent;
         font-family: Graphik;
         font-style: normal;
         font-weight: normal;
         font-size: 28px;
         line-height: 40px;
         /* or 143% */

         text-align: center;
         letter-spacing: 0.2px;
         color: #fff;
      }


   }
   button{
      background-color:$background;
      padding: 16px 10px;
      width: 236px;
      height: 52px;
      border-radius: 35px;
      color: #fff;
      font-size: 20px;
      line-height: 20px;
      position: absolute;
      top:90%;
      @include absolute('left');
      border: none;
      font-weight: 400;

   }
}

.feature{
   width: 1777px;
   height: 1361px;
   text-align: center;

   .text-content{
      width: 552px;
      height: 182px;
      position: relative;
      transform: translateX(-50%);
      left: 50%;
      

      h2{
         font-family: Graphik;
         font-style: normal;
         font-weight: 400;
         font-size: 48px;
         line-height: 55px;
         padding-bottom: 27px;
         text-align: center;
         color: #252B42;
      }

      h4{
         font-family: Graphik;
         font-style: normal;
         font-weight: normal;
         font-size: 28px;
         line-height: 40px;
         /* or 143% */

         text-align: center;
         letter-spacing: 0.2px;

         /* second text */

         color: #374754;
      }
   }

   .item{
      width: 865px;
      height: 257px;
      display: flex;
      align-items: center;
      position: relative;
      transform: translateX(-50%);
      left: 50%;
      top:60px;
      .box{
         width: 255px;
         height: 257px;
         margin-left: 40px;

         svg{
            padding: 17px;
         }

         h3{
            padding: 20px 0;
            font-family: Graphik;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            /* or 140% */

            text-align: center;
            letter-spacing: 0.1px;

            /* text */

            color: #252B42;

         }

         p{
            width:231px;
            height:100px;
            padding: 0 10px;
            font-family: Graphik;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            /* or 139% */

            text-align: center;
            letter-spacing: 0.2px;

            /* second text */

            color: #374754;

         }
      }
   }

   .screen-content{
      width: 1177px;
      height: 698px;
      margin-top: 132px;
      background-image: url(../img/screen.png);
      background-repeat: no-repeat;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 45pxs;


      #play-btn{
         background-color: $background;
         width: 187px;
         height: 187px;
         border-radius: 50%;
         border: none;
         position: absolute;
         @include absolute ('center');
        

         svg{
            background-color: $background;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50% ,-50%);
         }
      }

   }
}
.hero-light4{
   width: 1777px;
   height: 924px;
   position: relative;

   .content{
      width: 1244px;
      height: 472px;
      display: flex;
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);

      .frame1{
         width: 532px;
         height: 357px;
         text-align: start;
         margin-right: 50px;
         h2{
            width: 335px;
            height: 110px;
            font-family: Graphik;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 55px;
            /* or 115% */
            padding: 10px 0;
            text-align: start;

            letter-spacing: 0.2px;

            /* text */

            color: #252B42;
         }
         h4{
            margin-top: 20px;
            font-family: Graphik;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 40px;
            /* or 143% */
            padding: 10px 0;
            text-align: start;
            letter-spacing: 0.2px;

            /* second text */

            color: #374754;
         }

         button{
            background-color:$background;
            padding: 16px 10px;
            width: 236px;
            height: 52px;
            border-radius: 35px;
            color: #fff;
            font-size: 20px;
            line-height: 20px;
            font-weight: 700;
            border: none;
            margin-top: 130px;
            align-items: flex-start;
         }
      }

      .frame2{
            img{
               width: 625px;
               height: 350px;
            }
      }
   }
}

.desktop-light-cta4{
   margin: -30px auto;
   width: 1440px;
   height: 725px;
   display: flex;
   justify-content: space-around;

   .left-container{
      width: 854px;
      height:532px;

      img{
         width: 667px;
         height:514px;
      }
   }
   .right-container{
      margin-right: 20px;
      width: 554px;
      height: 500px;

      .text-content{
         width: 324px;
         height: 156px;

         h3{
            text-align: left;
            font-family: Graphik;
            font-style: normal;
            font-weight: 1000;
            font-size: 20px;
            line-height: 28px;
            /* identical to box height, or 140% */
   
            letter-spacing: 0.1px;
   
            /* text */
   
            color: #252B42;
            margin-bottom: 7px;
         }
   
         h2{
            padding: 10px 0;
            width: 324px;
            height: 110px;
            text-align: left;
            font-family: Graphik;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 55px;
            /* or 115% */
   
            letter-spacing: 0.2px;
   
            /* text */
   
            color: #252B42;
         }
      }

      .action-content{
         width: 447px;
         height: 199px;
         margin-top: 25px;
         margin-left: 117px;

         h3{
            text-align: left;
            font-family: Graphik;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            /* identical to box height, or 140% */

            letter-spacing: 0.1px;

            /* text */

            color: #252B42;
         }
         p{
            text-align: left;
            font-family: Graphik;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            /* identical to box height, or 139% */
            
            letter-spacing: 0.2px;
            
            /* second text */
            
            color: #374754;
            }
         .mail-input{
            margin-right: 5px;
            width:457px;
            height: 126px;
            
         }
         input{
           
            margin: 37px 5px 0 0;
            background: #F4F4F4;
            border: 1px solid #E8E8E8;
            box-sizing: border-box;
            border-radius: 39px;
            width: 273px;
            height: 54px;
            } input::placeholder{
               padding-left:39px ;
               // text-align: center;
               font-family: Roboto;
               font-style: normal;
               font-weight: normal;
               font-size: 14px;
               line-height: 16px;
               /* identical to box height, or 114% */

               letter-spacing: 0.1px;

               /* Background */

               color: #18171D;
            }
            
         button{
            border: none;
            background: #2091F9;
            border-radius: 35px;
            width: 172px;
            height: 58px;
            font-family: Graphik;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 20px;
            /* identical to box height, or 100% */

            letter-spacing: 0.2px;

            /* Light text */

            color: #FFFFFF;
         }
      }
   }
}

.partners-light2{

   height: 932px;
 

   .action-content{

      button{
         background-color:$background;
         padding: 16px 10px;
         width: 236px;
         height: 52px;
         border-radius: 35px;
         color: #fff;
         font-size: 20px;
         line-height: 20px;
         font-weight: 700;
         border: none;
         // margin-top: 130px;
         align-items: flex-start;
      }
   }

   .partners-light2-item{
      width: 1075px;
      height: 330px;
      margin: 90px auto; 

      .item-row{
         display: flex;
         justify-content: center;

         .item1{
            width: 273px;
            height: 163px;
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            
            h6{
               margin: 31px 0 0 0;
               font-family: Graphik;
               font-style: normal;
               font-weight: normal;
               font-size: 16px;
               line-height: 23px;
               /* identical to box height, or 144% */

               letter-spacing: 0.1px;

               /* second text */

               color: #374754;
            }
            img{
               margin: 15px auto;
            }
         }
         .item2{
            width: 273px;
            height: 160px;
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            
            h6{
               margin: 31px 0 0 0;
               font-family: Graphik;
               font-style: normal;
               font-weight: normal;
               font-size: 16px;
               line-height: 23px;
               /* identical to box height, or 144% */

               letter-spacing: 0.1px;

               /* second text */

               color: #374754;
            }
            img{
               margin: 15px auto;
            }
         }
         .item3{
            width: 301px;
            height: 165px;
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            
            h6{
               margin: 31px 0 0 0;
               font-family: Graphik;
               font-style: normal;
               font-weight: normal;
               font-size: 16px;
               line-height: 23px;
               /* identical to box height, or 144% */

               letter-spacing: 0.1px;

               /* second text */

               color: #374754;
            }
            img{
               margin: 15px auto;
            }
         }
         .item4{
            width: 220px;
            height: 165px;
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            
            h6{
               margin: 31px 0 0 0;
               font-family: Graphik;
               font-style: normal;
               font-weight: normal;
               font-size: 16px;
               line-height: 23px;
               /* identical to box height, or 144% */

               letter-spacing: 0.1px;

               /* second text */

               color: #374754;
            }
            img{
               margin: 15px auto;
            }
         }
         .item5{
            width: 309px;
            height: 164px;
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            
            h6{
               margin: 31px 0 0 0;
               font-family: Graphik;
               font-style: normal;
               font-weight: normal;
               font-size: 16px;
               line-height: 23px;
               /* identical to box height, or 144% */

               letter-spacing: 0.1px;

               /* second text */

               color: #374754;
            }
            img{
               margin: 15px auto;
            }
         }
         .item6{
            width: 273px;
            height: 163px;
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            
            h6{
               margin: 31px 0 0 0;
               font-family: Graphik;
               font-style: normal;
               font-weight: normal;
               font-size: 16px;
               line-height: 23px;
               /* identical to box height, or 144% */

               letter-spacing: 0.1px;

               /* second text */

               color: #374754;
            }
            img{
               margin: 15px auto;
            }
         }
         .item7{
            width: 220px;
            height: 165px;
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            
            h6{
               margin: 31px 0 0 0;
               font-family: Graphik;
               font-style: normal;
               font-weight: normal;
               font-size: 16px;
               line-height: 23px;
               /* identical to box height, or 144% */

               letter-spacing: 0.1px;

               /* second text */

               color: #374754;
            }
            img{
               margin: 15px auto;
            }
         }
         .item8{
            width: 273px;
            height: 160px;
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            
            h6{
               margin: 31px 0 0 0;
               font-family: Graphik;
               font-style: normal;
               font-weight: normal;
               font-size: 16px;
               line-height: 23px;
               /* identical to box height, or 144% */

               letter-spacing: 0.1px;

               /* second text */

               color: #374754;
            }
            img{
               margin: 15px auto;
            }
         }
      }

   }
}

.testimonials{
   width: 1439px;
   height: 811px;
   margin: -10px auto;

   .testimonials-text-content{
      margin-bottom: 80px;
      h2{
         font-family: Graphik;
         font-style: normal;
         font-weight: normal;
         font-size: 48px;
         line-height: 55px;
         /* identical to box height, or 115% */
   
         text-align: center;
         letter-spacing: 0.2px;
   
         /* text */
   
         color: #252B42;
      }

   }

   .testimonials-items{
      margin: 0 auto;
      width: 987px;
      height: 325px;

      img{
         margin-bottom: 60px;
      }

      h4{
         margin-bottom: 60px;
         width: 967px;
         font-family: Graphik;
         font-style: normal;
         font-weight: normal;
         font-size: 28px;
         line-height: 40px;
         /* or 143% */

         text-align: center;
         letter-spacing: 0.2px;

         /* second text */

         color: #374754;
      }
   }
   .client{
      display: flex;
      justify-content: center;

      .text-client{
         margin-left: 13px;

         h5{
            font-family: Graphik;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            /* identical to box height, or 144% */

            letter-spacing: 0.1px;

            /* second text */

            color: #374754;
         }
         p{
            text-align: left;
            font-family: Graphik;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 28px;
            /* identical to box height, or 187% */

            letter-spacing: 0.2px;

            /* text */

            color: #252B42;
         }

      }
   }
   .testimonials-action-content{
      margin-top: 80px;
      button{
         
         background-color:$background;
         padding: 16px 47px;
         width: 276px;
         height: 60px;
         border-radius: 35px;
         color: #fff;
         font-size: 20px;
         line-height: 20px;
         font-weight: 800;
         border: none;
         // margin-top: 130px;
         align-items: flex-start;
      }
      
   }
  
}

.pricing{
   width: 1777px;
   height: 1155px;
   background-color: #252B42;

   .pricing-text-content{
      width: 552px;
      height: 182px;
      position: relative;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      h2{
         // padding-top: 192px;
         background:transparent;
         font-family: Graphik;
         font-style: normal;
         font-weight: normal;
         font-size: 48px;
         line-height: 55px;
         /* identical to box height, or 115% */

         text-align: center;
         letter-spacing: 0.2px;

         /* Light text */

         color: #FFFFFF;
      }

      h4{
         margin:27px auto;
         width: 532px;
         background: transparent;
         font-family: Graphik;
         font-style: normal;
         font-weight: normal;
         font-size: 28px;
         line-height: 40px;
         /* or 143% */

         text-align: center;
         letter-spacing: 0.2px;

         /* Light text */

         color: #FFFFFF;
      }
   }

   .pricing-items{
      width: 1105px;
      height: 693px;
      position: relative;
      top: 160px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .pricing-items-first{
         width: 335px;
         height: 607px;
         border: 1px solid #DEDEDE;
         box-sizing: border-box;
         box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
         border-radius: 10px;
         background-color: #fff;
      }

      .pricing-items-second{
         width: 335px;
         height: 693px;
         background: #2091F9;
         border: 1px solid #DEDEDE;
         box-sizing: border-box;
         box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
         border-radius: 10px;
      }
   }
}
